<!-- <div class="region-list">
    <div class="header">
        <button class="toggle-button" (click)="toggleComponents()">
            <span *ngIf="!showComponents"><i class="bi bi-caret-down"></i></span>
            <span *ngIf="showComponents"><i class="bi bi-x"></i></span>
        </button>
    </div>
    <div *ngIf="showComponents">
        <table class="table">
            <input type="text" placeholder="Search regions..." (input)="filterRegions($event)" class="search-input">
            <thead>
                <tr>
                    <th>Region Name</th>
                </tr>
            </thead> 
            <tbody>
                <tr *ngFor="let region of filteredRegions" (click)="selectRegion(region)" class="region-row"
                    [class.selected]="region === selectedRegion">
                    <td>{{ region.name }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div> -->

<table class="table">
    <input type="text" placeholder="Search regions..." (input)="filterRegions($event)" class="search-input">
    <thead>
        <tr>
            <th>Region Name</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let region of filteredRegions" class="region-row"
            [class.selected]="region === selectedRegion">
            <td>{{ region.name }}</td>
            <td>
                <!-- Right arrow button to open the delegation component -->
                <button (click)="selectRegion(region)">
                    <i class="bi bi-arrow-right-square"></i>
                </button>
                <!-- User icon button to open the user list pop-up -->
                <button (click)="openUserPopup(region)">
                    <i class="bi bi-person-square"></i>
                </button>
            </td>
        </tr>
    </tbody>
</table>

<!-- Pop-up for users (moderators or workers) -->
<ng-template #userPopup>
  <div class="user-popup">
      <h3>{{ selectedRegion.name }} - Moderators & Workers</h3>
      <ul>
        <li *ngFor="let user of users">{{ user.name }}</li>
      </ul>
      <button (click)="closeUserPopup()">Close</button>
  </div>
</ng-template>


  