<div class="accounts-list">
    <div class="header">
        <h1 class="text-dark">Accounts</h1>
    </div>
    <div class="mb-3">
        <a routerLink="add/admin" class="btn btn-sm btn-dark me-2 mb-2">Create Admin</a>
        <a routerLink="add/moderator" class="btn btn-sm btn-dark me-2 mb-2">Create Moderator</a>
        <a routerLink="add/user" class="btn btn-sm btn-dark mb-2">Create User</a>
    </div>
    <div class="mb-3">
        <input class="search-input" type="text" placeholder="Search" [(ngModel)]="searchText" />
    </div>
    <table class="table">
        <thead>
            <tr>
                <th style="width: 30%">Name</th>
                <th style="width: 30%">Username</th>
                <th style="width: 30%">Role</th>
                <th style="width: 10%"></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let account of accounts | search:searchText | paginate: { itemsPerPage: itemsPerPage, currentPage: currentPage}">
                <td class="align-middle">{{ account.title }} {{ account.fullName }}</td>
                <td class="align-middle">{{ account.username }}</td>
                <td class="align-middle">{{ account.role }}</td>
                <td style="white-space: nowrap">
                    <a routerLink="edit/{{ account.id }}"
                    class="btn btn-sm edit-button me-1"><i class="bi bi-pen"></i></a>
                    <button
                        (click)="deleteAccount(account.id)"
                        class="btn btn-sm delete-button"
                        [disabled]="account.isDeleting"
                    >
                        <span *ngIf="account.isDeleting" class="spinner-border spinner-border-sm"></span>
                        <span *ngIf="!account.isDeleting">Delete</span>
                    </button>
                </td>
            </tr>
            <tr *ngIf="!accounts">
                <td colspan="4" class="text-center">
                    <span class="spinner-border spinner-border-lg align-center"></span>
                </td>
            </tr>
        </tbody>
    </table>
    <!-- Pagination -->
    <div class="text-center">
        <pagination-controls (pageChange)="currentPage = $event"></pagination-controls>
    </div>
</div>
