<div class="contain">
    <div class="login-box">
        <div class="login-header">
            <header>Bienvenue!</header>
        </div>
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <div class="input-box">
            <input  type="text" formControlName="username" class="input-field" placeholder="Identifiant" [ngClass]="{ 'is-invalid': submitted && f['username'].errors }"/>
            <div *ngIf="submitted && f['username'].errors" class="invalid-feedback">
                <div *ngIf="f['username'].errors['required']">Userame is required</div>
            </div>
        </div>
        <div class="input-box">
            <input 
            type="password" 
            formControlName="password"
            class="input-field" 
            placeholder="Mot de passe"
            [ngClass]="{ 'is-invalid': submitted && f['password'].errors }"
            />
            <div *ngIf="submitted && f['password'].errors" class="invalid-feedback">
                <div *ngIf="f['password'].errors['required']">Password is required</div>
            </div>
        </div>
        <div class="input-submit">
            <button 
            type="submit"
            class="submit-btn"
            [disabled]="submitting"
            >
            <span *ngIf="submitting" class="spinner-border spinner-border-sm me-1"></span>
            Se Connecter
            </button>
            <!-- <label for="submit">Se Connecter</label> -->
        </div>
    </form>
    </div>
</div>