<div class="contain">
    <div class="login-box">
        <!-- Language Dropdown -->
        <div class="jend">
            <div class="dropdown me-3">
                <ul class="dropdown-menu" aria-labelledby="languageDropdown">
                  <li>
                    <a class="dropdown-item" (click)="changeLanguage('en')"
                      ><img
                        src="assets/flags/en.png"
                        alt="English"
                        class="flag-icon"
                      />
                      English</a
                    >
                  </li>
                  <li>
                    <a class="dropdown-item" (click)="changeLanguage('fr')"
                      ><img
                        src="assets/flags/fr.png"
                        alt="French"
                        class="flag-icon"
                      />
                      Français</a
                    >
                  </li>
                  <li>
                    <a class="dropdown-item" (click)="changeLanguage('ar')"
                      ><img
                        src="assets/flags/ar.png"
                        alt="Arabic"
                        class="flag-icon"
                      />
                      العربية</a
                    >
                  </li>
                </ul>
                <button
                  class="btn btn-light dropdown-toggle"
                  type="button"
                  id="languageDropdown"
                  data-bs-toggle="dropdown"
                  aria-expanded="false"
                >
                <img [src]="currentLanguageFlag" alt="Language" class="flag-icon" />
                </button>
            </div>
        </div>
        <div class="login-header">
            <header>{{ 'peopleWant' | translate }}</header>
            <img src="assets/img/pv_logo.jpg" alt="pv_logo">
        </div>
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
            <div class="input-box">
                <input type="text" formControlName="username" class="input-field" placeholder="{{ 'phoneNumberPlaceholder' | translate }}" [ngClass]="{ 'is-invalid': submitted && f['username'].errors }"/>
                <i class="bi bi-person icon"></i>
                <div *ngIf="submitted && f['username'].errors" class="invalid-feedback">
                    <div *ngIf="f['username'].errors['required']">{{ 'phoneNumberRequired' | translate }}</div>
                </div>
            </div>
            <div class="input-box">
                <input [type]="showPassword ? 'text' : 'password'" formControlName="password" class="input-field" placeholder="{{ 'identityNumberPlaceholder' | translate }}" [ngClass]="{ 'is-invalid': submitted && f['password'].errors }"/>
                <i class="bi bi-lock icon"></i>
                <i class="bi" [ngClass]="showPassword ? 'bi-eye-slash' : 'bi-eye'" (click)="togglePasswordVisibility()" class="eye-icon"></i>
                <div *ngIf="submitted && f['password'].errors" class="invalid-feedback">
                    <div *ngIf="f['password'].errors['required']">{{ 'identityNumberRequired' | translate }}</div>
                </div>
            </div>
            <div class="captcha-box">
                <re-captcha siteKey="6LdfqEYqAAAAAIwuK2djM5B2HjbQjHY4RArJ1Qtx"></re-captcha>
                <!-- <div *ngIf="f['captcha'].hasError">{{ 'captchaRequired' | translate }}</div> -->
            </div>
            <div class="input-submit">
                <button type="submit" class="submit-btn" [disabled]="submitting">
                    <span *ngIf="submitting" class="spinner-border spinner-border-sm me-1"></span>
                    {{ 'login' | translate }}
                </button>
            </div>
        </form>
    </div>
</div>
