@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.contain {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #ffffff;
}
.login-box {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 440px;
    padding: 30px;
}
.login-header {
    text-align: center;
    margin: 20px 0 40px 0;
}
.login-header header {
    color: #333;
    font-size: 30px;
    font-weight: 600;
}
.input-box {
    position: relative;
    margin-bottom: 15px;
}
.input-field {
    width: 100%;
    height: 50px;
    font-size: 17px;
    padding: 0 50px 0 15px;
    border: 2px solid black;
    border-radius: 5px;
    outline: none;
    transition: border-color 0.3s ease;
}
.input-field:hover {
    border-color: #333;
}
.icon {
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    color: #333;
    font-size: 18px;
}
::placeholder {
    font-weight: 500;
    color: #222;
}
.input-submit {
    position: relative;
}
.submit-btn {
    width: 100%;
    height: 50px;
    background: #222;
    border: 2px solid black;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
    color: #fff;
}
.submit-btn:hover {
    background: #000;
    transform: scale(1.05, 1);
}
.captcha-box {
    margin-bottom: 20px;
}
