<div class="contain">
    <div class="register-box">
        <div class="register-header">
            <header>Register</header>
        </div>
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <!-- Full Name input -->
        <div class="input-box">
            <input  type="text" formControlName="fullName" class="input-field" placeholder="Full Name" [ngClass]="{ 'is-invalid': submitted && f['fullName'].errors }"/>
            <div *ngIf="submitted && f['fullName'].errors" class="invalid-feedback">
                <div *ngIf="f['fullName'].errors['required']">Full Name is required</div>
            </div>
        </div>
        <!-- Username input -->
        <div class="input-box">
            <input  type="text" formControlName="username" class="input-field" placeholder="Username" [ngClass]="{ 'is-invalid': submitted && f['username'].errors }"/>
            <div *ngIf="submitted && f['username'].errors" class="invalid-feedback">
                <div *ngIf="f['username'].errors['required']">Userame is required</div>
            </div>
        </div>
        <!-- Cin input -->
        <div class="input-box">
            <input  type="text" formControlName="cin" class="input-field" placeholder="CIN" [ngClass]="{ 'is-invalid': submitted && f['cin'].errors }"/>
            <div *ngIf="submitted && f['cin'].errors" class="invalid-feedback">
                <div *ngIf="f['cin'].errors['required']">CIN is required</div>
            </div>
        </div>

        <!-- Password input -->
        <div class="input-box position-relative">
            <input 
              [type]="showPassword ? 'text' : 'password'" 
              formControlName="password" 
              class="input-field"  
              placeholder="Type a password" 
              [ngClass]="{ 'is-invalid': submitted && f['password'].errors }"/>
            <i class="bi" [ngClass]="showPassword ? 'bi-eye-slash' : 'bi-eye'" (click)="togglePasswordVisibility()" class="toggle-eye"></i>
            <div *ngIf="submitted && f['password'].errors" class="invalid-feedback">
                <div *ngIf="f['password'].errors['required']">Password is required</div>
            </div>
        </div>
        <!-- Confirm Password input -->
        <div class="input-box position-relative">
            <input 
              [type]="showConfirmPassword ? 'text' : 'password'" 
              formControlName="confirmPassword" 
              class="input-field" 
              placeholder="Confirm the password" 
              [ngClass]="{ 'is-invalid': submitted && f['confirmPassword'].errors }" />
            <i class="bi" [ngClass]="showConfirmPassword ? 'bi-eye-slash' : 'bi-eye'" (click)="toggleConfirmPasswordVisibility()" class="toggle-eye"></i>
            <div *ngIf="submitted && f['confirmPassword'].errors" class="invalid-feedback">
                <div *ngIf="f['confirmPassword'].errors['required']">You need to confirm your password</div>
                <div *ngIf="f['confirmPassword'].errors['mustMatch']">Passwords must match</div>
            </div>
        </div>

        <!-- Submit --> 
        <div class="input-submit">
            <button 
            type="submit"
            class="submit-btn"
            [disabled]="submitting"
            >
            <span *ngIf="submitting" class="spinner-border spinner-border-sm me-1"></span>
            Register
            </button>
        </div>
    </form>
    </div>
</div>