/** Button style */

.update-button {
    background-color: #008CBA;
    color: aliceblue;
    border-radius: 2px;
    transition: background-color 0.3s ease;
  }
  
  .update-button:hover {
    background-color: #01445a;
  }
  
  
  .cancel-button {
    background-color: #c0453c;
    color: aliceblue;
    border-radius: 2px;
    transition: background-color 0.3s ease;
  }
  
  .cancel-button:hover {
    background-color: #5f221e;
  }