<div class="delegation-list">
    <div class="header">
        <h1>{{ 'delegations.title' | translate }}</h1>
        <a routerLink="add" title="{{ 'delegations.add' | translate }}" class="add-btn mb-2"><i class="bi bi-plus"></i></a>
    </div>
    <div>
        <input class="search-input" type="text" placeholder="{{ 'delegations.searchPlaceholder' | translate }}" [(ngModel)]="searchText" />
        <table class="table">
            <thead>
                <tr>
                    <th style="width:30%">{{ 'delegations.table.delegation' | translate }}</th>
                    <th style="width:30%">{{ 'delegations.table.region' | translate }}</th>
                    <th style="width:30%">{{ 'delegations.table.numCities' | translate }}</th>
                    <th style="width:10%"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let delegation of delegations | search: searchText | paginate: { itemsPerPage: itemsPerPage, currentPage: currentPage}" class="delegation-row">
                    <td>{{ delegation.name }}</td>
                    <td>{{ delegation.region.name }}</td>
                    <td>{{ getLen(delegation.cities) }}</td>
                    <td style="white-space: nowrap">
                        <a routerLink="edit/{{ delegation._id }}" title="{{ 'delegations.edit' | translate }}" class="btn btn-sm edit-button me-1">
                            <i class="bi bi-pen"></i> {{ 'delegations.edit' | translate }}
                        </a>
                        <button (click)="deleteDelegation(delegation._id)" title="{{ 'delegations.delete' | translate }}" class="btn btn-sm delete-button" [disabled]="delegation.isDeleting">
                            <span *ngIf="delegation.isDeleting" class="spinner-border spinner-border-sm"></span>
                            <span *ngIf="!delegation.isDeleting"><i class="bi bi-trash"></i></span>
                        </button>
                    </td>
                </tr>
                <tr *ngIf="!delegations || delegations.length === 0">
                    <td colspan="4" class="text-center">
                        <span class="spinner-border spinner-border-lg align-center"></span>
                    </td>
                </tr>
            </tbody>
        </table>
        <!-- Pagination -->
        <div class="text-center">
            <pagination-controls (pageChange)="currentPage = $event"></pagination-controls>
        </div>
    </div>
</div>
