<!-- statistics -->
<app-statistics></app-statistics>

<!-- Search Bar -->
<div class="search-bar">
  <input type="text" placeholder="{{ 'searchPlaceholder' | translate }}" 
  (input)="search($event)" class="search-input" />
  
  <!-- Search Result Suggestions -->
  <ul *ngIf="searchResults.length > 0" class="search-suggestions">
    <li *ngFor="let result of searchResults" (click)="selectSearchResult(result)">
      <span *ngIf="result.type === 'Region'">{{ 'regionLabel' | translate }}: {{ result.name }}</span>
      <span *ngIf="result.type === 'Delegation'">{{ 'delegationLabel' | translate }}: {{ result.name }}</span>
      <span *ngIf="result.type === 'City'">{{ 'cityLabel' | translate }}: {{ result.name }}</span>
    </li>
  </ul>
</div>

<!-- dashboard content -->
<div class="dashboard">
  <div class="regions" *ngIf="account && account.role !== 'Moderator'">
    <regions></regions> 
  </div>
  <div class="delegations" *ngIf="selectedRegion">
    <delegations></delegations>
  </div>
  <div class="cities" *ngIf="selectedDelegation">
    <cities></cities>
  </div>
  <div class="workers" *ngIf="selectedCity">
    <app-workers></app-workers>
  </div>
</div>
