<!-- <div class="statistics-container">
  <app-statistics></app-statistics>
  <app-tun-map></app-tun-map>  
</div> -->
<div>
  <h1 *ngIf="selectedRegion">{{this.selectedRegion.name}}</h1>
</div>

<!-- dashboard content -->
<div class="dashboard">
  
  <div class="regions" *ngIf="account && account.role !== 'ModeratorRegion' && account.role !== 'ModeratorDelegation'">
    <regions></regions> 
  </div>
  <div class="delegations" *ngIf="selectedRegion || account && account.role !== 'ModeratorDelegation'">
    <delegations [selectedRegion]="selectedRegion"></delegations>
  </div>
  <div class="cities" *ngIf="selectedDelegation">
    <cities></cities>
  </div>
  <div class="workers" *ngIf="selectedCity">
    <app-workers></app-workers>
  </div>
</div>
