<ul class="navbar-nav sidebar sidebar-dark admin-sidebar" id="accordionSidebar">
    <li class="nav-item">
      <a class="nav-link" routerLink="dashboard">
        <i class="bi bi-speedometer2"></i>
        <span>Dashboard</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="accounts">
        <i class="fa fa-fw fa-users"></i>
        <span>Accounts</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="dashboard/reports">
        <i class="fa fa-pie-chart"></i>
        <span>Reports</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="regions">
        <span>Regions</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="delegations">
        <span>Delegations</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="cities">
        <span>Cities</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="social">
        <span>Social links</span>
      </a>
    </li>
</ul>
  