<ul class="navbar-nav sidebar sidebar-dark admin-sidebar" id="accordionSidebar">

  <img src="assets/img/pv_logot.png" alt="hello">
  <li class="nav-item">
    <a class="nav-link" routerLink="dashboard">
      <i class="bi bi-speedometer2"></i>
      <span>{{ 'DASHBOARD' | translate }}</span>
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="accounts">
      <i class="fa fa-fw fa-users"></i>
      <span>{{ 'ACCOUNTS' | translate }}</span>
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="dashboard/reports">
      <i class="fa fa-pie-chart"></i>
      <span>{{ 'REPORTS' | translate }}</span>
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="regions">
      <span>{{ 'REGIONS' | translate }}</span>
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="delegations">
      <span>{{ 'DELEGATIONS' | translate }}</span>
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="cities">
      <span>{{ 'CITIES' | translate }}</span>
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="social">
      <span>{{ 'SOCIAL_LINKS' | translate }}</span>
    </a>
  </li>
</ul>
