<table class="table">
  <input type="text" placeholder="{{ 'searchDelegations' | translate }}" (input)="filterDelegations($event)" class="search-input">
  <thead>
    <tr>
      <th>{{ 'delegationName' | translate }}</th>
      <th>{{ 'actions' | translate }}</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let delegation of filteredDelegations" class="delegation-row"
        [class.selected]="delegation === selectedDelegation">
      <td>{{ delegation.name }} ({{ delegation.cities.length }})</td>
      <td>
        <button (click)="openUserPopup(delegation)" title="{{ 'viewUsersTooltip' | translate }}">
          <i class="bi bi-person"></i>
        </button>
        <button (click)="selectDelegation(delegation)" 
                [class.selected-button]="delegation === selectedDelegation"
                title="{{ 'selectDelegationTooltip' | translate }}">
          <i class="bi bi-arrow-right"></i> 
        </button>
    </td>
    </tr>
  </tbody>
</table>

<ng-template #userPopup>
  <div class="user-popup">
    <div class="popup-header">
      <h3>{{ selectedDelegation.name }}</h3>
      <button class="close-button" title="{{ 'close' | translate }}" (click)="closeUserPopup()">X</button>
    </div>
    <div class="header">
      <button class="add-btn right-btn" (click)="addDelegationModerator()">{{ 'AddNewModDelegation' | translate }}</button>
  </div>
    <!-- <app-user-list [delegationId]="selectedDelegation._id"></app-user-list> -->
     <app-delegation-mod-list [delegationId]="selectedDelegation"></app-delegation-mod-list>
  </div>
</ng-template>
