<article class="detail-article" *ngIf="report">
  <div class="header">
    <span *ngIf="report.traiter" class="traited-msg">report traited <i class="bi bi-check"></i></span>
    <button (click)="traite(report._id)" *ngIf="!report.traiter" class="seen-btn"><i class="bi bi-check"></i></button>
  </div>
  <div class="detail-body">
    <h2>{{ report.content }}</h2>
    <p>{{ report.worker.fullName }} | {{ report.worker.city.name }} | {{ report.date | date}}</p>
    <label>Machaghel : </label>
    <p>{{ report.machaghel }}</p>
    <label>Machakel Alyawm : </label>
    <p>{{ report.machakel_alyawm }}</p>
    <label>7ouloul : </label>
    <p>{{ report.houloul }}</p>
    <p *ngIf="report.concurence === true">la concurrence existe : {{ report.concurrenceDetails}} </p>
    <label>I9tira7at : </label>
    <p>{{ report.propositions }}</p>
  </div>
  
  <div class="images-container">
    <figure class="thumbnail-container" *ngFor="let image of report.images" (click)="selectedImage = image">
      <img [src]="image" alt="Report Image" class="thumbnail" />
    </figure>
  </div>

  <figure class="selected-image-container" *ngIf="selectedImage">
    <img [src]="selectedImage" alt="Selected Report Image" class="selected-image" />
  </figure>
</article>
