<article class="detail-article" *ngIf="report" #reportContent>
  <!-- Header Section with Traited status and button -->
  <div class="header">
    <span *ngIf="report.traiter" class="traited-msg">
      {{ 'reportTraited' | translate }} <i class="bi bi-check-circle"></i>
    </span>
    <button (click)="traite(report._id)" *ngIf="!report.traiter" class="seen-btn">
      <i class="bi bi-check-circle"></i> {{ 'markAsTreated' | translate }}
    </button>
  </div>

  <!-- Important Section -->
  <div class="important-section" *ngIf="report.important">
    <h3>{{ 'importantReport' | translate }}: {{ report.importanceLevel | translate }}</h3>
    <p>{{ report.importantDescription }}</p>
  </div>

  <!-- Report Details Table -->
  <div class="detail-body">
    <table class="report-details-table">
      <tr>
        <th>{{ 'reportContent' | translate }}</th>
        <td>{{ report.content }}</td>
      </tr>
      <tr>
        <th>{{ 'worker' | translate }}</th>
        <td>{{ report.worker.fullName }} | {{ report.worker.city.name }}</td>
      </tr>
      <tr>
        <th>{{ 'reportDate' | translate }}</th>
        <td>{{ report.date | date }}</td>
      </tr>
      <tr *ngIf="report.machaghel">
        <th>{{ 'machaghel' | translate }}</th>
        <td>{{ report.machaghel }}</td>
      </tr>
      <tr *ngIf="report.machakel_alyawm">
        <th>{{ 'machakelAlyawm' | translate }}</th>
        <td>{{ report.machakel_alyawm }}</td>
      </tr>
      <tr *ngIf="report.houloul">
        <th>{{ 'houloul' | translate }}</th>
        <td>{{ report.houloul }}</td>
      </tr>
      <tr *ngIf="report.concurence">
        <th>{{ 'concurrenceExists' | translate }}</th>
        <td>{{ report.concurrenceDetails }}</td>
      </tr>
      <tr *ngIf="report.propositions">
        <th>{{ 'propositions' | translate }}</th>
        <td>{{ report.propositions }}</td>
      </tr>
    </table>
  </div>

  <!-- Images Section with Modal Preview -->
  <div class="images-container">
    <figure class="thumbnail-container" *ngFor="let image of report.images" (click)="selectedImage = image">
      <img [src]="image" alt="{{ 'reportImage' | translate }}" class="thumbnail" />
    </figure>
  </div>

  <figure class="selected-image-container" *ngIf="selectedImage">
    <img [src]="selectedImage" alt="{{ 'selectedReportImage' | translate }}" class="selected-image" />
  </figure>

  <!-- Export and Exit Confirmation -->
  <div class="center">
    <button (click)="exportReportToPDF()" class="export-btn">
      <i class="bi bi-file-earmark-pdf"></i> {{ 'exportReportToPDF' | translate }}
    </button>
  </div>
</article>
