<nav
  class="navbar navbar-expand-lg navbar-light bg-light"
  *ngIf="account && account.role === 'User'"
>
  <div class="container-fluid">
    <h1 class="navbar-brand">TeamWork</h1>
    <button
      type="button"
      class="navbar-toggler"
      data-bs-toggle="collapse"
      data-bs-target="#navbarCollapse"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <div class="navbar-nav">
        <a routerLink="/work/add" class="nav-item nav-link active"
          >{{ 'dailyReport' | translate }}</a
        >
        <a routerLink="/work/social" class="nav-item nav-link">{{ 'socialLinks' | translate }}</a>
        <!-- <a href="#" class="nav-item nav-link disabled" tabindex="-1">Reports</a> -->
        <!-- Notification  -->
        <div class="dropdown">
          <button
            class="btn btn-light dropdown-toggle"
            type="button"
            id="dropdownMenuButton1"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            <i class="bi bi-bell"></i>
            <span class="notification-count" *ngIf="unreadCount > 0">{{
              unreadCount
            }}</span>
          </button>
          <ul
            class="dropdown-menu notifications-box"
            aria-labelledby="dropdownMenuButton1"
          >
            <li *ngFor="let notification of notifications">
              <div
                (click)="goto(notification)"
                [ngClass]="{
                  'notification-item': true,
                  'old-notification': notification.isRead,
                  'new-notification': !notification.isRead
                }"
              >
                <span>{{ notification.message }}</span>
                <span>{{ notification.date | date : "short" }}</span>
              </div>
            </li>
            <div *ngIf="notifications.length === 0">0 notifications</div>
          </ul>
        </div>
      </div>
      <div class="navbar-nav ms-auto">
        <!-- Language Dropdown -->
        <div class="dropdown me-3">
          <button
            class="btn btn-light dropdown-toggle"
            type="button"
            id="languageDropdown"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            <img [src]="currentLanguageFlag" alt="Language" class="flag-icon" />
          </button>
          <ul class="dropdown-menu" aria-labelledby="languageDropdown">
            <li>
              <a class="dropdown-item" (click)="changeLanguage('en')"
                ><img
                  src="assets/flags/en.png"
                  alt="English"
                  class="flag-icon"
                />
                English</a
              >
            </li>
            <li>
              <a class="dropdown-item" (click)="changeLanguage('fr')"
                ><img
                  src="assets/flags/fr.png"
                  alt="French"
                  class="flag-icon"
                />
                Français</a
              >
            </li>
            <li>
              <a class="dropdown-item" (click)="changeLanguage('ar')"
                ><img
                  src="assets/flags/ar.png"
                  alt="Arabic"
                  class="flag-icon"
                />
                العربية</a
              >
            </li>
          </ul>
        </div>

        <button class="logout-btn" (click)="logout()">{{ 'logout' | translate}}</button>
      </div>
    </div>
  </div>
</nav>
