<div style="width: 100%; height: 500px;">
    <p>{{ 'statisticsReportByRegions' | translate }}</p>
    <canvas id="myChart"></canvas>
  </div>


 <!--  <div class="worker-popup modern-popup"></div>
    <div class="popup-header">
      <h3>{{ selectedRegion.name }}</h3>
      <button class="close-button" title="{{ 'close' | translate }}" (click)="closePopup()">X</button>
    </div>

    <div class="dashboard-container">
      <div class="dashboard-card">
        <div class="dashboard-content">
          <h4>{{ 'reportCount' | translate }}</h4>
          <div class="report-info">
            <p>{{ selectedRegion.reportCount }}</p>
            <span [ngClass]="{'icon-up': selectedRegion.reportCount > previousData.reportCount, 'icon-down': selectedRegion.reportCount < previousData.reportCount}">
              <i class="bi" [ngClass]="selectedRegion.reportCount > previousData.reportCount ? 'bi-arrow-up' : 'bi-arrow-down'"></i>
            </span>
          </div>
        </div>
      </div>

      <div class="dashboard-card">
        <div class="dashboard-content">
          <h4>{{ 'treatedReports' | translate }}</h4>
          <div class="report-info">
            <p>{{ selectedRegion.treatedReports }}</p>
            <span [ngClass]="{'icon-up': selectedRegion.treatedReports > previousData.treatedReports, 'icon-down': selectedRegion.treatedReports < previousData.treatedReports}">
              <i class="bi" [ngClass]="selectedRegion.treatedReports > previousData.treatedReports ? 'bi-arrow-up' : 'bi-arrow-down'"></i>
            </span>
          </div>
        </div>
      </div>
      
      <div class="dashboard-card">
        <div class="dashboard-content">
          <h4>{{ 'untreatedReports' | translate }}</h4>
          <div class="report-info">
            <p>{{ selectedRegion.untreatedReports }}</p>
            <span [ngClass]="{'icon-up': selectedRegion.untreatedReports > previousData.untreatedReports, 'icon-down': selectedRegion.untreatedReports < previousData.untreatedReports}">
              <i class="bi" [ngClass]="selectedRegion.untreatedReports > previousData.untreatedReports ? 'bi-arrow-up' : 'bi-arrow-down'"></i>
            </span>
          </div>
        </div>
      </div>


      <div class="dashboard-card">
        <div class="dashboard-content">
          <h4>{{ 'numberofReporters' | translate }}</h4>
          <div class="report-info">
            <p>{{ selectedRegion.workerCount }}</p>
        <span [ngClass]="{'icon-up': selectedRegion.workerCount > previousData.workerCount, 'icon-down': selectedRegion.workerCount < previousData.workerCount}">
          <i class="bi" [ngClass]="selectedRegion.workerCount > previousData.workerCount ? 'bi-arrow-up' : 'bi-arrow-down'"></i>
        </span>
          </div>
        </div>
      </div> -->


      <!-- Important reports  -->
      <!-- <div class="dashboard-card">
        <div class="dashboard-content">
          <h4>{{ 'importantReports' | translate }}</h4>
          <div class="report-info">
            <p>{{ selectedRegion.option1Reports }}</p>
        <span [ngClass]="{'icon-up': selectedRegion.option1Reports > previousData.option1Reports, 'icon-down': selectedRegion.option1Reports < previousData.option1Reports}">
          <i class="bi" [ngClass]="selectedRegion.option1Reports > previousData.option1Reports ? 'bi-arrow-up' : 'bi-arrow-down'"></i>
        </span>
          </div>
        </div>
      </div> 
    </div>
  </div>-->