<div class="filter-section mb-3">
  <input type="text" class="form-control w-50 mb-3" placeholder="{{ 'Search by username or report content' | translate }}" (input)="filterReports($event)">
</div>

<div class="dropdown mb-3">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="filterDropdown" data-bs-toggle="dropdown" aria-expanded="false">
    {{ 'Filter by Region' | translate }}
  </button>
  <ul class="dropdown-menu" aria-labelledby="filterDropdown">
    <li *ngFor="let region of uniqueRegions">
      <div class="form-check">
        <input class="form-check-input" type="checkbox" [id]="region" [value]="region" (change)="toggleRegionFilter(region, $event)">
        <label class="form-check-label" [for]="region">
          {{ region }}
        </label>
      </div>
    </li>
  </ul>
</div>


<!-- Reports Table -->
<!-- Enhanced Reports Table -->
<div class="table-responsive">
  <table class="table table-bordered table-hover table-striped">
    <thead class="table-light">
      <tr>
        <!-- Column Titles with Sortable Icons -->
        <th (click)="sortBy('content')" class="clickable-column">
          {{ 'Title' | translate }}
          <i *ngIf="sortField === 'content' && sortOrder === 'asc'" class="bi bi-chevron-up sort-icon"></i>
          <i *ngIf="sortField === 'content' && sortOrder === 'desc'" class="bi bi-chevron-down sort-icon"></i>
        </th>
        <th>{{ 'Region' | translate }}</th>
        <th>{{ 'Delegation' | translate }}</th>
        <th>{{ 'City' | translate }}</th>
        <th (click)="sortBy('worker')" class="clickable-column">
          {{ 'Worker' | translate }}
          <i *ngIf="sortField === 'worker' && sortOrder === 'asc'" class="bi bi-chevron-up sort-icon"></i>
          <i *ngIf="sortField === 'worker' && sortOrder === 'desc'" class="bi bi-chevron-down sort-icon"></i>
        </th>
        <th (click)="sortBy('date')" class="clickable-column">
          {{ 'Date' | translate }}
          <i *ngIf="sortField === 'date' && sortOrder === 'asc'" class="bi bi-chevron-up sort-icon"></i>
          <i *ngIf="sortField === 'date' && sortOrder === 'desc'" class="bi bi-chevron-down sort-icon"></i>
        </th>
        <th (click)="sortBy('date')" class="clickable-column">
          {{ 'Hour' | translate }}
          <i *ngIf="sortField === 'date' && sortOrder === 'asc'" class="bi bi-chevron-up sort-icon"></i>
          <i *ngIf="sortField === 'date' && sortOrder === 'desc'" class="bi bi-chevron-down sort-icon"></i>
        </th>
        <th>{{ 'Status' | translate }}</th>
      </tr>
      <!-- Reports Message -->
      <tr *ngIf="filteredReports.length === 0">
        <td colspan="7">
          <div class="no-reports-message">
            <i class="bi bi-exclamation-circle"></i>
            <p>{{ 'Sorry No reports' | translate }}</p>
          </div>
        </td>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let report of filteredReports" (click)="gotoReport(report._id)" class="report-row">
        <td>{{ report.content }}</td>
        <td>{{ report.region.name }}</td>
        <td>{{ report.delegation.name }}</td>
        <td>{{ report.city.name }}</td>
        <td>{{ report.worker.fullName }}</td>
        <td>{{ report?.date | date: 'MM/dd' }}</td>
        <td>{{ report.date | date: 'HH:mm' }}</td>
        <td>
          <span class="status-indicator" [ngStyle]="{ 'background-color': report.traiter ? 'green' : 'red' }"></span>
        </td>
      </tr>
    </tbody>
  </table>
</div>
