<table class="table">
    <input type="text" placeholder="Search Cities..." (input)="filterCities($event)" class="search-input">
    <thead>
        <tr>
            <th>City Name</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let city of filteredCities" class="city-row"
            [class.selected]="city === selectedCity">
            <td>{{ city.name }}  ({{ city.workers.length }})</td>
            <td>
                <button (click)="openWorkersPopup(city)">
                    <i class="bi bi-person"></i>
                </button>
                <button (click)="openReports(city)">
                    <i class="bi bi-file-earmark-text"></i>
                </button>
            </td>
        </tr>
    </tbody>
</table>

<!-- Pop-up for reporters -->
<ng-template #workersPopup >
    <div class="worker-popup modern-popup">
        <div class="popup-header">
            <button class="close-button" (click)="closePopup()">X</button>
        </div>
        <h3 class="text-center">{{ selectedCity.name }}</h3>
        <app-workers [selectedCity]="selectedCity._id"></app-workers>
    </div>
</ng-template>