<div class="city-list" *ngIf="selectedDelegation">
    <div class="header">
        <button class="toggle-button" (click)="toggleComponents()">
            <span *ngIf="!showComponents"><i class="bi bi-caret-down"></i></span>
            <span *ngIf="showComponents"><i class="bi bi-x"></i></span>
        </button>
    </div>
    <div *ngIf="showComponents">
        <table class="table">
            <input type="text" placeholder="Search regions..." (input)="filterCities($event)" class="search-input">
            <thead>
                <tr>
                    <th>City Name</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let city of filteredCities" (click)="selectCity(city)" class="city-row"
                    [class.selected]="city === selectedCity">
                    <td>{{ city.name }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
