/* You can add global styles to this file, and also import other style files */
:root {
    --plyr-color-main: rgb(104, 85, 224);
  }

.app-container {
    min-height: 320px;
}

.edit-button {
  background-color: #008CBA;
  color: aliceblue;
  border-radius: 2px;
}

.rtl {
  direction: rtl;
  text-align: right;
}

/* Ensure text fields and other elements also adjust to RTL */
.rtl input,
.rtl textarea,
.rtl select {
  text-align: right;
}
