body {
  direction: ltr;
  text-align: left;
}

/* RTL styles for Arabic */
body.rtl {
  direction: rtl;
  text-align: right;
}
.app-container {
    min-height: 320px;
}

.edit-button {
  background-color: #008CBA;
  color: aliceblue;
  border-radius: 2px;
}

.rtl {
  direction: rtl;
  text-align: right;
}

/* Ensure text fields and other elements also adjust to RTL */
.rtl input,
.rtl textarea,
.rtl select {
  text-align: right;
}
